In [1]:
import pandas as pd
import numpy as np
from sklearn import metrics
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
import seaborn as sns

In [2]:
train=pd.read_csv('E:/Akshay/Python/ODI Match Winner Hackathon MachineHack/ODI_Participants_Data/Train.csv')
test=pd.read_csv('E:/Akshay/Python/ODI Match Winner Hackathon MachineHack/ODI_Participants_Data/Test.csv')

In [3]:
train.head()

,Team1,Team2,Stadium,HostCountry,Team1_Venue,Team2_Venue,Team1_Innings,Team2_Innings,MonthOfMatch,MatchWinner
0,5,4,37,4,Home,Away,Second,First,Dec,4
1,1,14,84,7,Neutral,Neutral,First,Second,Sep,1
2,9,15,47,9,Home,Away,First,Second,Feb,9
3,7,2,102,6,Home,Away,First,Second,Aug,2
4,6,8,46,5,Home,Away,First,Second,Aug,6

In [4]:
train1=pd.get_dummies(train)
test=pd.get_dummies(test)

In [5]:
train1

,Team1,Team2,Stadium,HostCountry,MatchWinner,Team1_Venue_Away,Team1_Venue_Home,Team1_Venue_Neutral,Team2_Venue_Away,Team2_Venue_Home,...,MonthOfMatch_Dec,MonthOfMatch_Feb,MonthOfMatch_Jan,MonthOfMatch_Jul,MonthOfMatch_Jun,MonthOfMatch_Mar,MonthOfMatch_May,MonthOfMatch_Nov,MonthOfMatch_Oct,MonthOfMatch_Sep
0,5,4,37,4,4,0,1,0,1,0,...,1,0,0,0,0,0,0,0,0,0
1,1,14,84,7,1,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,1
2,9,15,47,9,9,0,1,0,1,0,...,0,1,0,0,0,0,0,0,0,0
3,7,2,102,6,2,0,1,0,1,0,...,0,0,0,0,0,0,0,0,0,0
4,6,8,46,5,6,0,1,0,1,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2503,5,15,89,3,5,0,0,1,0,0,...,0,0,0,0,1,0,0,0,0,0
2504,1,14,138,0,1,0,1,0,1,0,...,0,0,1,0,0,0,0,0,0,0
2505,14,5,135,15,14,0,1,0,1,0,...,0,0,0,0,0,0,0,0,0,0
2506,15,14,64,16,14,0,1,0,1,0,...,0,0,0,0,0,0,0,1,0,0
2507,1,10,111,0,1,0,1,0,1,0,...,0,0,1,0,0,0,0,0,0,0

In [6]:
train['MatchWinner']

0        4
1        1
2        9
3        2
4        6
        ..
2503     5
2504     1
2505    14
2506    14
2507     1
Name: MatchWinner, Length: 2508, dtype: int64

In [7]:
y=pd.get_dummies(train['MatchWinner'].astype(str))
#y=train['MatchWinner']

In [8]:
train1.columns.difference(test.columns)

Index(['MatchWinner', 'Team1_Venue_Away', 'Team2_Venue_Home'], dtype='object')

In [9]:
test['Team1_Venue_Away']=0
test['Team2_Venue_Home']=0

In [10]:
y

      0  1  10  11  12  13  14  15  2  3  4  5  6  7  8  9
0     0  0   0   0   0   0   0   0  0  0  1  0  0  0  0  0
1     0  1   0   0   0   0   0   0  0  0  0  0  0  0  0  0
2     0  0   0   0   0   0   0   0  0  0  0  0  0  0  0  1
3     0  0   0   0   0   0   0   0  1  0  0  0  0  0  0  0
4     0  0   0   0   0   0   0   0  0  0  0  0  1  0  0  0
...  .. ..  ..  ..  ..  ..  ..  .. .. .. .. .. .. .. .. ..
2503  0  0   0   0   0   0   0   0  0  0  0  1  0  0  0  0
2504  0  1   0   0   0   0   0   0  0  0  0  0  0  0  0  0
2505  0  0   0   0   0   0   1   0  0  0  0  0  0  0  0  0
2506  0  0   0   0   0   0   1   0  0  0  0  0  0  0  0  0
2507  0  1   0   0   0   0   0   0  0  0  0  0  0  0  0  0

[2508 rows x 16 columns]

In [11]:
train2=train1.drop(['MatchWinner'],axis=1)

In [12]:
train2.shape

(2508, 26)

In [13]:
test.shape

(1075, 26)

In [15]:
train_x,val_x,train_y,val_y=train_test_split(train1.drop(['MatchWinner'],axis=1),y,test_size=0.2)

In [16]:
train_x.head()

,Team1,Team2,Stadium,HostCountry,Team1_Venue_Away,Team1_Venue_Home,Team1_Venue_Neutral,Team2_Venue_Away,Team2_Venue_Home,Team2_Venue_Neutral,...,MonthOfMatch_Dec,MonthOfMatch_Feb,MonthOfMatch_Jan,MonthOfMatch_Jul,MonthOfMatch_Jun,MonthOfMatch_Mar,MonthOfMatch_May,MonthOfMatch_Nov,MonthOfMatch_Oct,MonthOfMatch_Sep
1957,14,2,19,15,0,1,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
98,4,13,33,3,0,1,0,1,0,0,...,0,0,0,0,1,0,0,0,0,0
117,5,9,13,4,0,1,0,1,0,0,...,1,0,0,0,0,0,0,0,0,0
2496,1,12,111,0,0,1,0,1,0,0,...,0,0,0,0,0,0,0,1,0,0
569,9,12,98,9,0,1,0,1,0,0,...,0,0,0,0,0,0,0,0,1,0

In [17]:
test.head()

,Team1,Team2,Stadium,HostCountry,Team1_Venue_Home,Team1_Venue_Neutral,Team2_Venue_Away,Team2_Venue_Neutral,Team1_Innings_First,Team1_Innings_Second,...,MonthOfMatch_Jan,MonthOfMatch_Jul,MonthOfMatch_Jun,MonthOfMatch_Mar,MonthOfMatch_May,MonthOfMatch_Nov,MonthOfMatch_Oct,MonthOfMatch_Sep,Team1_Venue_Away,Team2_Venue_Home
0,2,4,34,1,1,0,1,0,1,0,...,0,0,0,0,0,0,1,0,0,0
1,14,1,19,15,1,0,1,0,1,0,...,0,0,0,1,0,0,0,0,0,0
2,9,10,130,14,0,1,0,1,0,1,...,0,0,0,0,0,0,0,0,0,0
3,9,10,8,9,1,0,1,0,1,0,...,0,0,0,0,0,0,0,0,0,0
4,5,15,130,14,0,1,0,1,1,0,...,0,0,0,0,0,0,1,0,0,0

In [18]:
from xgboost import XGBClassifier
from sklearn.svm import SVC
from sklearn.ensemble import RandomForestClassifier
from sklearn.multiclass import OneVsRestClassifier
from sklearn.multiclass import OneVsOneClassifier

In [19]:
model=XGBClassifier(num)

In [51]:
cls1 = OneVsRestClassifier(XGBClassifier(num_classes=16))
cls1.fit(train_x.values,train_y)
y_predict = cls1.predict_proba(val_x.values)

In [52]:
cls2 = OneVsOneClassifier(XGBClassifier(num_classes=16))
cls2.fit(train2,train1['MatchWinner'])

OneVsOneClassifier(estimator=XGBClassifier(base_score=None, booster=None,
                                           colsample_bylevel=None,
                                           colsample_bynode=None,
                                           colsample_bytree=None, gamma=None,
                                           gpu_id=None, importance_type='gain',
                                           interaction_constraints=None,
                                           learning_rate=None,
                                           max_delta_step=None, max_depth=None,
                                           min_child_weight=None, missing=nan,
                                           monotone_constraints=None,
                                           n_estimators=100, n_jobs=None,
                                           num_classes=16,
                                           num_parallel_tree=None,
                                           objective='binary:logistic',
                                           random_state=None, reg_alpha=None,
                                           reg_lambda=None,
                                           scale_pos_weight=None,
                                           subsample=None, tree_method=None,
                                           validate_parameters=False,
                                           verbosity=None),
                   n_jobs=None)

In [33]:
from sklearn.model_selection import KFold
from sklearn.model_selection import RandomizedSearchCV

In [53]:
prediction=cls2.predict(train2.values)

In [54]:
prediction

array([ 5,  1,  9, ..., 14, 14,  1], dtype=int64)

In [55]:
metrics.accuracy_score(train1['MatchWinner'],prediction)

0.9035087719298246

In [58]:
from sklearn.model_selection import cross_val_score
scores = cross_val_score(cls1, train2.values, train1['MatchWinner'], cv=5, scoring='f1_weighted')
scores.mean()

E:\Akshay\Anaconda\lib\site-packages\sklearn\metrics\classification.py:1437: UndefinedMetricWarning: F-score is ill-defined and being set to 0.0 in labels with no predicted samples.
  'precision', 'predicted', average, warn_for)
E:\Akshay\Anaconda\lib\site-packages\sklearn\metrics\classification.py:1437: UndefinedMetricWarning: F-score is ill-defined and being set to 0.0 in labels with no predicted samples.
  'precision', 'predicted', average, warn_for)
E:\Akshay\Anaconda\lib\site-packages\sklearn\metrics\classification.py:1437: UndefinedMetricWarning: F-score is ill-defined and being set to 0.0 in labels with no predicted samples.
  'precision', 'predicted', average, warn_for)

0.603116001640916

In [59]:
from sklearn.model_selection import cross_val_score
scores = cross_val_score(cls2, train2.values, train1['MatchWinner'], cv=5, scoring='f1_weighted')
scores.mean()

E:\Akshay\Anaconda\lib\site-packages\sklearn\metrics\classification.py:1437: UndefinedMetricWarning: F-score is ill-defined and being set to 0.0 in labels with no predicted samples.
  'precision', 'predicted', average, warn_for)
E:\Akshay\Anaconda\lib\site-packages\sklearn\metrics\classification.py:1437: UndefinedMetricWarning: F-score is ill-defined and being set to 0.0 in labels with no predicted samples.
  'precision', 'predicted', average, warn_for)

0.5895463477583918

In [62]:
cls1.predict_proba(test.values)

array([[1.39515891e-04, 6.02939981e-04, 4.48308769e-04, ...,
        4.28993924e-04, 1.46554637e-04, 1.38760125e-03],
       [1.00862104e-04, 6.80836082e-01, 3.68950685e-04, ...,
        6.41328661e-05, 4.21986013e-04, 1.21250298e-04],
       [3.02009605e-04, 3.12838529e-04, 9.60511744e-01, ...,
        1.91186322e-04, 6.87929161e-04, 8.10598880e-02],
       ...,
       [3.79438861e-05, 1.51892338e-04, 4.01963815e-02, ...,
        7.54278881e-05, 6.56777411e-05, 1.77147472e-03],
       [3.89720080e-05, 2.84643029e-04, 2.97224820e-01, ...,
        2.93098012e-04, 1.04949700e-04, 2.69340439e-04],
       [2.09711743e-05, 1.01275102e-03, 4.86717530e-04, ...,
        3.49164184e-04, 1.02888218e-04, 7.31046259e-01]], dtype=float32)

In [64]:
submission=pd.DataFrame(list(cls1.predict_proba(test.values)),
                       columns=['0','1','10','11','12','13','14','15','2','3','4','5','6','7','8','9'])

In [65]:
submission.to_csv('my_prediction.csv',index=False)